* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  flex: 1;
  padding-bottom: 40px; 
  padding-top: 40px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-main);
    color: var(--text-main);
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

a,
a:focus,
a:active,
a:visited
a:link {
    outline: none;
    text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}