:root {
  --background-main: rgb(255, 255, 255);
  --background-secondary: rgb(245, 245, 245);
  --background-hover:  rgb(237, 237, 237);

  --text-main: rgb(12, 10, 9);
  --text-secondary: rgb(115, 115, 115);

  --border-color: rgb(228, 228, 231);
  --border-secondary: rgb(245, 245, 245);

  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 18px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;
  --radius-full: 9999px;

  --font-size-xxs: 0.5rem;   
  --font-size-xs: 0.625rem;  
  --font-size-sm: 0.75rem;    
  --font-size-md: 1rem;      
  --font-size-lg: 1.25rem;   
  --font-size-xl: 1.5rem;    
  --font-size-2xl: 2rem;    

  --spacing-xxs: 0.25rem;    
  --spacing-xs: 0.375rem;    
  --spacing-sm: 0.5rem;      
  --spacing-md: 1rem;        
  --spacing-lg: 1.5rem;      
  --spacing-xl: 2rem;        
  --spacing-2xl: 2.5rem;     
  --spacing-3xl: 3rem;       

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --padding-xxs: 4px;
  --padding-xs: 6px;
  --padding-sm: 8px;
  --padding-md: 12px;
  --padding-lg: 26px;
}

.dark {
  --background-main: rgb(240, 235, 220);
  --background-secondary: rgb(230, 225, 210);
  --background-hover: rgb(220, 215, 200);

  --text-main: rgb(45, 41, 35);
  --text-secondary: rgb(85, 82, 75);

  --border-color: rgb(200, 190, 175);
  --border-secondary: rgb(210, 200, 185);

  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;
}

